* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Times New Roman', Times, serif;
  background-color: #f2f2f2;
  color: #333;
}

.container {
  max-width: 900px;
  margin: 30px auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(42, 2, 202, 0.6);
}

header {
  text-align: center;
  margin-bottom: 20px;
}

header h1 {
  font-size: 28px;
  margin-bottom: 10px;
}

header address {
  font-style: normal;
  font-size: 14px;
  line-height: 1.6;
}

header span {
  margin: 0 6px;
}

header a {
  text-decoration: none;
  color: #0073b1;
}

header a:hover {
  text-decoration: underline;
  color: #005582;
}

section {
  margin-bottom: 25px;
  padding-bottom: 15px;
  border-bottom: 1px solid #eee;
}

h2 {
  font-size: 22px;
  margin-bottom: 10px;
  border-bottom:1px solid black;
  color: #222;
}

h3 {
  font-size: 18px;
  margin-top: 12px;
}

ul {
  padding-left: 20px;
  margin-top: 8px;
}

ul li {
  margin-bottom: 8px;
  line-height: 1.5;
}

.education {
  margin-top: 10px;
  line-height: 1.4;
}

.certificate span {
  display: block;
  font-size: 14px;
  margin-top: 4px;
}
.hover-heading span {
  transition: color 0.3s ease;
}


.hover-heading:hover span:nth-child(1) { color: #e63946; } 
.hover-heading:hover span:nth-child(2) { color: #f1fa8c; } 
.hover-heading:hover span:nth-child(3) { color: #00b894; } 
.hover-heading:hover span:nth-child(4) { color: #6c5ce7; } 
.hover-heading:hover span:nth-child(5) { color: #fd79a8; } 
.hover-heading:hover span:nth-child(6) { color: #ffffff; } 
.hover-heading:hover span:nth-child(7) { color: #fab1a0; } 
.hover-heading:hover span:nth-child(8) { color: #81ecec; } 
.hover-heading:hover span:nth-child(9) { color: #ffeaa7; } 
.hover-heading:hover span:nth-child(10) { color: #a29bfe; }
.hover-heading:hover span:nth-child(11) { color: #55efc4; }
.hover-heading:hover span:nth-child(12) { color: #fdcb6e; }

.hover-heading span {
  display: inline-block;
  letter-spacing: 0;
  margin: 0;
}
